<smangit-window>
	<header>Login</header>

	<section class="view-content login-controller" ng-controller="LoginCtrl">

		<form class="form-signin" role="form" name="loginForm">

			<div class="form-group" ng-class="{ 'validation-error' : loginForm.email.$invalid || loginForm.email.$error.required }">
				<label for="auth-login-email">Email</label>
				<input type="email" name="email" id="auth-login-email" class="form-control" ng-model="login.email" ng-required="true">
				<p class="validation-message">Enter a valid email.</p>
			</div>
			<div class="form-group" ng-class="{ 'validation-error' : loginForm.password.$error.minlength || loginForm.password.$error.required }">
				<label for="auth-login-password">Password</label>
				<input ng-minlength="8" type="password" name="password" id="auth-login-password" class="form-control" ng-model="login.password" ng-required="true">
				<p class="validation-message">Min password length is 8 characters.</p>
			</div>
			<br>
			<button type="submit" ng-click="Login($event)">Login</button>

		</form>

		<span class="form-status login-status">{{login_message}}</span>

	</section>
</smangit-window>
