<smangit-window>
	<header>Register</header>

	<section class="view-content register-controller" ng-controller="RegisterCtrl">

		<form class="form-register" name="registerForm" role="form">

			<div class="form-group" ng-class="{ 'validation-error' : registerForm.username.$error.minlength || registerForm.username.$error.required }">
				<label>Username</label>
				<input type="text" name="username" class="form-control" ng-model="register.username" ng-required="true" ng-minlength="4">
				<p class="validation-message">Enter a valid username.</p>
			</div>
			<div class="form-group" ng-class="{ 'validation-error' : registerForm.email.$invalid || registerForm.email.$error.required }">
				<label>Email</label>
				<input type="email" name="email" class="form-control" ng-model="register.email" ng-required="true">
				<p ng-show="registerForm.email.$invalid || registerForm.email.$error.required" class="validation-message">Enter a valid email.</p>
			</div>
			<div class="form-group" ng-class="{ 'validation-error' : registerForm.password.$error.minlength || registerForm.password.$error.required }">
				<label>Password</label>
				<input ng-minlength="8" type="password" name="password" class="form-control" ng-model="register.password" ng-required="true">
				<p ng-show="registerForm.password.$error.minlength || registerForm.password.$error.required" class="validation-message">Min password length is 8 characters.</p>
			</div>
			<div class="form-group" ng-class="{ 'validation-error' : registerForm.password2.$error.minlength || registerForm.password2.$error.required }">
				<label>Confirm Password</label>
				<input ng-minlength="8" type="password" name="password2" class="form-control" ng-model="register.password2" ng-required="true">
				<p ng-show="registerForm.password2.$error.minlength || registerForm.password2.$error.required" class="validation-message">Min password length is 8 characters.</p>
			</div>

			<div>
				<div class="form-status register-status" ng-show="regError">{{register_message}}</div>
				<br>
				<button ng-click="registerAccount();" type="submit">Register</button>
				<br><br>
				Already have an account? <a href="/login">Login Here</a>
			</div>

		</form>

	</section>
</smangit-window>
