$color-positive: #388E3C;
$color-negative: #C62828;
$color-blue: #1963B8;
$color-neutral: #666;

$color-body-bg: #202020;

$color-border: #CCC;



// Color themes
$themes: (
    default: #666,
    banana: #f1c40f,
    cherry: #c0392b,
    blueberry: #8e44ad,
    leaf: #27ae60,
    nightsky: $color-blue
);



$color-primary: $color-neutral;

$color-primary-darkest: darken($color-primary, 35%);
$color-primary-darker: darken($color-primary, 20%);
$color-primary-dark: darken($color-primary, 10%);

$color-primary-light: lighten($color-primary, 10%);
$color-primary-lighter: lighten($color-primary, 20%);
$color-primary-lightest: lighten($color-primary, 35%);


@mixin theme($name, $color) {
    $color-lightest: lighten($color, 35%);
    $color-lighter: lighten($color, 20%);
    $color-light: lighten($color, 10%);
    $color-dark: darken($color, 10%);
    $color-darker: darken($color, 20%);
    $color-darkest: darken($color, 35%);

    smangit-card[data-theme='#{$name}'] {
        background-color: lighten($color-darkest, 2%);
        border-color: $color-dark;
        box-shadow: 0 0 20px rgba($color-dark, 0.33) inset;

        h1,
        h2 {
            color: $color-light;
        }

        smangit-loading {
            border-color: $color;
            background-color: $color-darker;

            &[data-status="active"] {
                background-color: $color-light;
                box-shadow: 0 0 10px $color, 0 0 4px $color-light;
            }
        }

        &[data-card-type="webcam"] {

            .timestamp {
                color: $color;
            }
        }

        &[data-card-type="twitter"] {

            li {

                .flex-wrapper {

                    .profile-img {
                        border-color: $color;
                    }

                    .tweet-content {

                        .screen_name {
                            color: $color-light;
                        }

                        .text a {
                            color: $color-lightest;
                        }
                    }
                }
            }
        }

        &[data-card-type="calendar"] {

            .date-row {

                &:not(:last-of-type) {
                    border-color: $color-dark;
                }

                &.weekend {
                    background-color: rgba($color-darker, 0.66);
                }

                .date-label {
                    color: $color-lightest;
                    border-color: $color-dark;

                    span {
                        color: lighten($color-dark, 5%);
                    }
                }

                .events {

                    .event {
                        box-shadow: 0 0 0 1px rgba($color, 0.5) inset;

                        .time {
                            color: $color-lightest;

                            span {
                                color: $color-lighter;
                            }
                        }

                        &.is_past {
                            color: $color-dark;
                        }

                        &.is_happening {
                            background-color: rgba($color, 0.8);
                        }
                    }
                }
            }
        }
    }
}

@each $key, $value in $themes {
    @include theme($key, $value);
}
