<smangit-dashboard>
    <smangit-row class="row-auto-height">
        <smangit-card data-card-type="clock" data-theme="nightsky">
            {{$root.clock}}
            <h1 class="clock-date">{{$root.clock_date}}</h1>
        </smangit-card>

        <smangit-card data-card-type="weather-current" data-theme="nightsky">
            <h2>Current Conditions</h2>
            <section class="meta-wrapper">
                <div class="wi {{$root.condition_code}}"></div>
                <span class="temperature"><span class="value">{{$root.current_temp}}</span>&deg;</span>
            </section>
            <h2>Last Updated: {{$root.weather_updated}}</h2>
            <smangit-loading data-status=""></smangit-loading>
        </smangit-card>
    </smangit-row>


    <smangit-row class="row-auto-height">
        <smangit-card twitter-feed data-card-type="twitter" data-theme="leaf">
            <ul>
                <li ng-repeat="tweet in $root.twitterFeed" ng-class="{current: $first}">
                    <div class="flex-wrapper">
                        <div class="profile-img" style="background-image:url({{tweet.user.profile_image_url_https}});"></div>
                        <div class="tweet-content">
                            <div class="content">
                                <span class="screen_name">@{{tweet.user.screen_name}}</span>
                                <span class="text" ng-bind-html="tweet.text | tweet"></span>
                                <ul class="media" ng-if="tweet.entities.media">
                                    <li ng-repeat="media in tweet.entities.media" style="background-image: url({{media.media_url}})"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>dummy-end-tweet</li>
            </ul>
            <smangit-loading data-status=""></smangit-loading>
        </smangit-card>
    </smangit-row>


    <smangit-row>
        <smangit-card data-card-type="webcam" class="small-wide" style="background-image: url({{$root.webcam.url}});" ng-hide="0">
            <h1>SmangitCam&reg;</h1>
            <span class="timestamp" ng-hide="0">{{$root.webcam.timestamp}}</span>
            <smangit-loading data-status=""></smangit-loading>
        </smangit-card>

        <smangit-card data-card-type="weather-trends" class="small-wide" data-theme="nightsky" ng-hide="0">
            <h1>Weather Trends - 24hr</h1>
            <div class="weather-trends-chart" id="weatherChart" temp="temp_data"></div>
            <smangit-loading data-status=""></smangit-loading>
        </smangit-card>
    </smangit-row>


    <smangit-row class="row-auto-height">
        <smangit-card data-card-type="calendar" data-theme="cherry">
            <div class="date-row" ng-repeat="row in $root.eventRows" ng-class="{weekend: row.isWeekend}">
                <div class="date-label"><span>{{row.date}}</span>{{row.day}}</div>
                <div class="events">
                    <div class="event" ng-repeat="event in row.events" data-color="{{event.colorId}}" ng-class="{is_past: event.isPast, is_happening: event.isHappening}">
                        <div class="time">{{event.timeDisplay}} <span>{{event.creator}}</span></div>
                        <div class="label">{{event.title}}</div>
                    </div>
                </div>
            </div>
            <smangit-loading data-status=""></smangit-loading>
        </smangit-card>
    </smangit-row>
</smangit-dashboard>
