%small-title {
    font-size: 1.2rem;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: $font-space;
    color: $color-primary-light;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    margin: 0 0 0rem;
}

smangit-dashboard {
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $color-primary-dark;

    smangit-row {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        width: 100%;

        &.row-auto-height {
            flex-grow: 0;
        }
    }
}

smangit-card {
    position: relative;
    background-color: lighten($color-primary-darkest, 2%);
    border: 2px solid $color-primary-dark;
    box-shadow: 0 0 20px rgba($color-primary-dark, 0.33) inset;
    font-family: $font-space;
    margin: 0rem;
    padding: 2rem;
    width: 100%;

    h1 {
        @extend %small-title;
        font-size: 1.8rem;
        margin: 0 0 2rem;
    }

    h2 {
        @extend %small-title;

        &:last-child {
            margin-bottom: 0;
        }
    }

    $loading-size: 1rem;
    smangit-loading {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        opacity: 0.5;
        width: $loading-size;
        height: $loading-size;
        border-radius: $loading-size;
        border: 2px solid $color-primary;
        background-color: $color-primary-darker;
        box-shadow: 0 0 0 rgba($color-primary, 0);
        transition: all 0.33s ease-in-out;

        &[data-status="active"] {
            opacity: 1;
            border-width: 4px;
            background-color: $color-primary-light;
            box-shadow: 0 0 10px $color-primary, 0 0 4px $color-primary-light;
        }
    }
}

smangit-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 3em;

    &.small-wide {
        width: 100%;
        flex-basis: 100%;
    }

    &[data-card-type="clock"] {
        flex-grow: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 8em;
        padding: 3rem 0;
        width: 50%;

        h1 {
            margin: 0;
        }
    }

    &[data-card-type="weather-current"] {
        flex-grow: 2;
        font-size: 5em;
        text-align: center;
        justify-content: space-between;
        width: 50%;

        h1 {
            margin: 0;
        }

        h2 {
            font-size: 1.2rem;
            padding: 0;
            margin: 0;
        }

        section {
            width: 100%;
            margin: 0;

            .wi {
                display: inline-block;
                margin-right: 1rem;
                line-height: 1.5em;
                opacity: 0.8;
            }

            .temperature {
                font-size: 1.4em;
                line-height: 1em;
            }
        }
    }


    &[data-card-type="weather-trends"] {
        display: flex;
        flex-flow: row wrap;

        h1 {
            margin: 0;
        }

        .weather-trends-chart {
            flex-shrink: 1;
            width: 100%;
            align-self: center;

            .highcharts-container {
                height: 100% !important;
            }
        }
    }

    &[data-card-type="webcam"] {
        justify-content: space-between;
        flex-shrink: 0;
        flex-basis: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        h1, h2 {
            padding: 0;
            margin: 0;
        }

        .timestamp {
            @extend %small-title;
            padding: 0;
            text-shadow: 0 1px 2px rgba(#000, 0.66);
            text-align: right;
        }
    }
}



smangit-card[data-card-type="calendar"] {
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 0;
    flex-shrink: 0;

    .date-row {
        display: flex;

        &:not(:last-of-type) {
            border-bottom: 1px solid $color-primary-dark;
        }

        &.weekend {
            background-color: rgba($color-primary-darker, 0.66);
        }

        .date-label {
            width: 150px;
            flex-shrink: 0;
            display: flex;
            color: $color-primary-lightest;
            border-right: 2px solid $color-primary-dark;
            padding: 0.5rem 1rem;
            justify-content: space-between;

            span {
                color: lighten($color-primary-dark, 5%);
            }
        }

        .events {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            font-family: $font-primary;
            font-weight: 300;

            .event {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                border: 0;
                box-shadow: 0 0 0 1px rgba($color-primary, 0.5) inset;

                .time {
                    display: inline-block;
                    padding: 0.25rem 0.5rem 0;
                    font-size: 0.7em;
                    line-height: 1.2em;
                    text-transform: uppercase;
                    color: $color-primary-lightest;

                    span {
                        color: $color-primary-lighter;
                        text-transform: none;
                        opacity: 0.8;
                    }
                }

                .label {
                    padding: 0rem 0.5rem 0.25rem;
                    font-size: 0.9em;
                    line-height: 1.2em;
                }

                &.is_past {
                    // background-color: rgba($color-primary-darker, 0.8);
                    color: $color-primary-dark;
                    opacity: 0.5;
                }

                &.is_happening {
                    background-color: rgba($color-primary, 0.8);
                }

                // &[data-color="1"] {
                //     box-shadow: 0 0 0 2px rgba(#8DACEB, 0.6) inset;
                // }
                // &[data-color="2"] {
                //     box-shadow: 0 0 0 2px rgba(#8FE8BB, 0.6) inset;
                // }
                // &[data-color="3"] {
                //     box-shadow: 0 0 0 2px rgba(#D7AAFF, 0.6) inset;
                // }
                // &[data-color="4"] {
                //     box-shadow: 0 0 0 2px rgba(#F18678, 0.6) inset;
                // }
                // &[data-color="5"] {
                //     box-shadow: 0 0 0 2px rgba(#F3D946, 0.6) inset;
                // }
                // &[data-color="6"] {
                //     box-shadow: 0 0 0 2px rgba(#F4B96F, 0.6) inset;
                // }
                // &[data-color="7"] {
                //     box-shadow: 0 0 0 2px rgba(#6CD7DB, 0.6) inset;
                // }
                // &[data-color="8"] {
                //     box-shadow: 0 0 0 2px rgba(#E0E0E0, 0.6) inset;
                // }
                // &[data-color="9"] {
                //     box-shadow: 0 0 0 2px rgba(#677CFC, 0.6) inset;
                // }
                // &[data-color="10"] {
                //     box-shadow: 0 0 0 2px rgba(#62B836, 0.6) inset;
                // }
                // &[data-color="11"] {
                //     box-shadow: 0 0 0 2px rgba(#CC1F20, 0.6) inset;
                // }
            }
        }
    }
}
