flexboard {
    border: 1px solid red;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    row {
        display: flex;
        flex-grow: 1;

        card {
            border: 1px solid blue;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
        }
    }
}
