html, body {
	overflow: hidden;
	height: 100%;
}

body {
	font-family: $font-primary;
	background-color: $color-body-bg;
	display: flex;
	background-color: $color-body-bg;
	color: #FFF;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

a {
	color: $color-primary-lightest;
}

button {
	border: 0;
	outline: 0;
	background-color: $color-primary-dark;
	color: $color-primary-lightest;
	font-family: $font-space;
	padding: 0.2em;
	text-shadow: 0 2px 3px rgba($color-primary-dark, 0.5);
}

#app-content {
	height: 100%;
	width: 100%;

	.view-wrapper {
		height: 100%;

		> div[ng-view] {
			height: 100%;
			padding: 0.5em;
			background-color: $color-primary-darkest;

			smangit-window {
				min-width: 420px;
				max-width: 80%;
				min-height: 50%;
				max-height: 80%;
				overflow: auto;
				border: 2px solid $color-primary;
				background-color: $color-primary-darker;

				header {
					padding: 0.5rem 1rem;
					border-bottom: 2px solid $color-primary;
					text-transform: uppercase;
					color: $color-primary-lightest;
					font-family: $font-space;
				}

				.view-content {
					padding: 0.5rem 1rem;
				}
			}
		}
	}
}
