[data-card-type="twitter"] {
    font-size: 1.6em;
    align-items: stretch;
    padding: 0;
    height: 76px;

    li {
        height: 100%;
        align-items: center;
        width: 100%;
        display: none;

        .flex-wrapper {
            display: flex;
            height: 100%;
            padding: 0.75rem 2rem;

            .profile-img {
                flex-shrink: 0;
                margin: 0 1rem 0 0;
                width: 48px;
                height: 48px;
                // background-size: cover;
                background-position: center right;
                background-repeat: no-repeat;
                border-radius: 3px;
                border: 1px solid $color-primary-lighter;
            }

            .tweet-content {
                flex-grow: 1;
                font-size: 1.2rem;
                line-height: 1.2em;
                font-family: $font-primary;

                .screen_name {
                    display: inline-block;
                    margin-right: 0.5rem;
                    color: $color-primary-light;
                    font-size: 0.9em;
                    font-family: $font-space;
                }

                .media {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 1rem;
                    background-color: rgba(#000, 0.5);

                    li {
                        display: inline-block;
                        visibility: hidden;
                        opacity: 0;
                        height: 400px;

                        transition: all 1s ease-in-out;

                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
        }

        &.current {
            display: block;

            .flex-wrapper .tweet-content .media li {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
