form {
	margin: 0 0 0.5em;
}

textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
	display: block;
	border-radius: 2px;
	background-color: lighten($color-primary, 50%);
	font-size: 1.2em;
	color: $color-primary-dark;
	padding: 8px;
	width: 100%;
	outline: none;
	margin: 0 0 0.5rem;
	box-shadow: 0 0 0 2px rgba($color-primary, 0.25) inset;
	transition: all 0.1s ease-in-out;

	&:focus {
		box-shadow: 0 0 0 2px rgba($color-primary, 0.66) inset;
	}

	&.secondary {
		border: 0;
		box-shadow: none;
		border-radius: 2px;
		font-size: 1em;
		font-family: $font-space;
		background-color: #FFF;
		border: 1px solid $color-border;
	}
}

textarea {

	&.medium {
		height: 120px;
	}
}

button[type="submit"],
input[type="submit"] {
	padding: 8px 12px;
	border: 1px solid $color-primary;
	background-color: $color-primary;
	color: #FFF;
}

.form-group {
	margin: 0 0 0.5em;

	label {
		display: block;
		font-family: $font-space;
		margin: 0 0 0.25em;
	}

	.validation-message {
		display: none
	}

	&.validation-error {

		.validation-message {
			display: none;
			color: $color-negative;
			padding: 0.25em 0;
			font-size: 0.8em;
			margin: 0;
		}

		.ng-touched + .validation-message {
			display: block;
		}
	}
}
