.marooned-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(#000, 0.5);
    }

    .modal-window {
        position: relative;
        height: 50%;
        min-height: 480px;
        width: 50%;
        min-width: 640px;
        z-index: 200;
        padding: 1em;
        margin-top: 0;
        opacity: 1;
        background-color: rgba(#FFF, 1);
        transition: all .2s ease-in-out;
        @include materialShadow(3);
    }

    &.ng-enter {
        transition: opacity .2s ease-out;
        opacity: 0;

        .modal-window {
            opacity: 0;
            transform: scale(0.8);
        }
    }
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }

    &.ng-leave {
        transition: opacity .2s ease-out;
        opacity: 1;

        .modal-window {
            // transition-duration: 0.3s;
        }
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;

        .modal-window {
            opacity: 0;
            transform: scale(0.8);
        }
    }
}
