.progress-bar {
	display: flex;
	border: 1px solid $color-primary-light;
	background-color: #FFF;
	border-radius: 2px;
	padding: 1px;
	height: 1.2rem;
	cursor: default;

	&.large {
		height: 1.8rem;
	}

	&.small {
		height: 0.75rem;
		padding: 0;
	}

	&.tiny {
		height: 0.4rem;
		padding: 0;
	}

	&.centered {
		justify-content: center;
	}

	.progress {
		display: flex;
		align-items: center;
		justify-content: center;
		// padding: 0 0.5rem;
		color: #FFF;
		background-color: $color-primary;
		border-radius: 1px;
		width: 0%;
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		transition: width 0.5s cubic-bezier(.87,-.41,.19,1.44);
	}
}