/*!
 * ngToast v1.5.6 (http://tameraydin.github.io/ngToast)
 * Copyright 2015 Tamer Aydin (http://tamerayd.in)
 * Licensed under MIT (http://tameraydin.mit-license.org/)
 */

.ng-toast {
    position: fixed;
    z-index: 100000;
    width: 100%;
    height: 0;
    margin-top: calc(#{$dim-sidebar-header-height} + 1rem);
    text-align: center;

    &.ng-toast--top {
        top: 0;
        bottom: auto;

        .ng-toast__list {
            top: 0;
            bottom: auto;
        }

        &.ng-toast--center .ng-toast__list {
            position: static;
        }
    }
    &.ng-toast--top
    &.ng-toast--bottom {
        top: auto;
        bottom: 0;
    }
    &.ng-toast--bottom {

        .ng-toast__list {
            top: auto;
            bottom: 0;
        }

        &.ng-toast--center {

            .ng-toast__list {
                pointer-events: none;
            }

            .ng-toast__message .alert {
                pointer-events: auto;
            }
        }
    }

    &.ng-toast--right {

        .ng-toast__list {
            left: auto;
            right: 0;
            margin-right: 1em;
        }

        .ng-toast__message {
            text-align: right;
        }
    }

    &.ng-toast--left {

        .ng-toast__list {
            right: auto;
            left: 0;
            margin-left: 20px;
        }

        .ng-toast__message {
            text-align: left;
        }
    }

    .ng-toast__list {
        display: inline-block;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    $anim-speed: 0.15s;
    .ng-toast__message {
        display: block;
        width: 100%;
        text-align: center;

        transition: all $anim-speed ease-in-out;

        &:not(:last-of-type) {
            margin: 0 0 0.5rem;
        }

        .alert {
            display: inline-block;
            font-family: $font-space;
            cursor: pointer;
            border: 0px solid $color-border;
            border-radius: 0px;
            font-size: 0.9em;
            padding: 1em;
            user-select: none;
            background: rgba(#FFF, 0.9);
            @include materialShadow(1);

            &.alert-info {
                color: $color-neutral;
                border-color: lighten($color-neutral, 40%);
                // background-color: lighten($color-neutral, 50%);
            }
            &.alert-success {
                color: $color-positive;
                border-color: lighten($color-positive, 30%);
                // background-color: lighten($color-positive, 50%);
            }
            &.alert-warning {
                color: $color-primary;
                border-color: $color-primary-lightest;
                // background-color: lighten($color-primary, 50%);
            }
            &.alert-danger {
                color: $color-negative;
                border-color: $color-negative;
                // background-color: lighten($color-negative, 30%);
            }
        }

        &.animate-fade.ng-enter {
            transition: all $anim-speed ease-in-out;
            opacity: 0;
            transform: scale(0.8);
        }
        &.animate-fade.ng-enter.ng-enter-active {
            opacity: 1;
            transform: scale(1);
        }

        &.animate-fade.ng-leave {
            transition: all $anim-speed ease-in-out;
            opacity: 1;
            transform: scale(1);
        }
        &.animate-fade.ng-leave.ng-leave-active {
            opacity: 0;
            transform: scale(0.8);
        }
    }

    .ng-toast__message__count {
        display: inline-block;
        margin: 0 15px 0 5px;
    }
}
